################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/BasketExercise/v15/.suo
/src/BasketCore/obj
/src/.vs/BasketExcersize/v15
/src/ApiClient/bin/Debug/netstandard2.0
/src/ApiClient/obj
/src/BasketCore/bin/Debug/netstandard2.0
/src/BasketWebApi/bin/Debug
/src/BasketWebApi/obj
/src/Infrastructure/bin/Debug/netstandard2.0
/src/Infrastructure/obj
/src/Tests/bin/Debug/netcoreapp2.1
/src/Tests/obj
/src/.vs
/.vs
/src/BasketApi.Client/bin/Debug/netstandard2.0
/src/BasketApi.Client/obj
/src/BasketApi.Client.Tests/bin/Debug/netcoreapp2.1
/src/BasketApi.Client.Tests/obj
/src/BasketApi.Entities/bin/Debug/netstandard2.0
/src/BasketApi.Entities/obj
/src/BasketApi.Infrastructure/bin
/src/BasketApi.Infrastructure/obj
/src/BasketApi.Infrastructure.Tests/bin/Debug/netcoreapp2.1
/src/BasketApi.Infrastructure.Tests/obj
/src/BasketApi.Models/bin
/src/BasketApi.Models/obj
/src/BasketApi.Web/bin/Debug
/src/BasketApi.Web/bin/Release/netcoreapp2.1
/src/BasketApi.Web/obj
/src/BasketApi.Web.Tests/bin/Debug/netcoreapp2.1
/src/BasketApi.Web.Tests/obj
/src/BasketWebUI/bin/Debug
/src/BasketWebUI/obj
/src/BasketApi.Client/bin/Release/netstandard2.0
/src/BasketWebUI/bin/Release/netcoreapp2.1
