@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Basket API .NET Core 2.1</h2>
        <p>
            This site is a prototype of a Basket API exercise implementation in .NET Core 2.1.
            From this website you can perform all the operations supported by the Basket API like Insert new items, Update existing quantities and Remove items.
            A mechanism to support authenticated users has been included as well.
        </p>
        <p>Please visit the <a href="/Home/About">About page</a> or the <a target="_blank" href="https://github.com/xmixalis/BasketExercise">GitHub repository</a> for more information.</p>
    
    <p>You can now <a href="/Products">start adding products</a> to your basket. </p>
        <p>Thank you for visiting.</p>
    </div>
</div>
