@{
    ViewData["Title"] = "Products";
    @model ProductsIndexViewModel
}

<div class="row">
    @if (Model.ProductItems.Any())
    {
        @foreach (var item in Model.ProductItems)
        {
            <div class="col-md-3">
                <div class="product-item">
                    <partial name="_product" model="item" />
                </div>
            </div>
        }
    }
</div>
